@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0px;
    min-height: 0;
}

window#waybar {
    background-color: @bg-dark;
    color: @text-primary;
    border-top: 2px solid @border;
}

#hyprland-workspaces button {
    padding: 0 4px;
    margin: 1px;
    background-color: @bg-panel;
    border: 1px solid @border;
    border-radius: 3px;
}

#wlr-workspaces button.focused {
    background-color: @accent-blue;
}

#window, 
#mpd, 
#mpris, 
#custom-outtemperature, 
#cpu, 
#memory, 
#volume, 
#clock, 
#tray {
    padding: 0 6px;
    margin: 1px 2px;
    background-color: @bg-panel;
    border: 1px solid @border;
    border-radius: 3px;
    box-shadow: 0 0 2px @shadow;
}

#window {
    color: @text-primary;
}

#mpd {
    color: @text-secondary;
}

#mpd.paused {
    color: @accent-blue;
}

#mpd.stopped {
    color: @accent-red;
}

#mpris {
    color: @accent-purple;
}

#custom-outtemperature {
    color: @accent-yellow;
}

#cpu {
    color: @accent-blue;
}

#memory {
    color: @accent-purple;
}

#pulseaudio {
    color: @text-primary;
}

#clock {
    color: @text-primary;
}

#tray > .tray-item {
    padding: 0 4px;
}
