@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @bg-dark;
    color: @text-primary;
    border-top: 2px solid @border;
}

#wlr-workspaces button {
    padding: 0 6px;
    margin: 2px;
    background-color: @bg-panel;
    border: 1px solid @border;
    border-radius: 4px;
}

#wlr-workspaces button.focused {
    background-color: @accent-blue;
}

#window, #mpd, #playerctl, #weather, #cpu, #memory, #volume, #clock, #tray {
    padding: 0 10px;
    margin: 2px 4px;
    background-color: @bg-panel;
    border: 1px solid @border;
    border-radius: 4px;
    box-shadow: 0 0 5px @shadow;
}

#window {
    color: @text-primary;
}

#mpd {
    color: @text-secondary;
}

#mpd.paused {
    color: @accent-blue;
}

#mpd.stopped {
    color: @accent-red;
}

#playerctl {
    color: @accent-purple;
}

#weather {
    color: @accent-yellow;
}

#cpu {
    color: @accent-blue;
}

#memory {
    color: @accent-purple;
}

#volume {
    color: @text-primary;
}

#clock {
    color: @text-primary;
}

#tray > .tray-item {
    padding: 0 5px;
}
